* {
    box-sizing: border-box;
}

.box-principal {
    display: flex;
    background-color: yellow;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 500px;
    border-radius: 15px;
}

.objet {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #000000;
    
}

.objet-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: solid 10px black;
}

fieldset label {
    margin: 0 0 10px
}

form {
    display: flex;
    flex-direction: column;
    font-size: 20px;    
}

.input-standard {
    width: 50%;
    padding: 10px 25px;
}